<div class="row">
  <!-- <p-card header="{{this.url === '/register' ? 'Registracija' : 'Logovanje'}}"> -->
  <p class="text-justify" id="note">
    Registrujte se sa e-mail adresom, korisničkim imenom i lozinkom. Nakon registracije potvrdite e-mail adresu<br>
    unosom aktivacionog koda, a zatim se prijavite i izaberite paket osiguranja. </p>
  <p-card>
    <!-- header -->
    <ng-template pTemplate="header">
      <img alt="Globos osiguranje" src="https://globos.rs/images/logo_194x58.svg" />
      <img src="/assets/images/GlobosMedicIseceno.png" alt="Slika" height="30px" class="logoMedic"
        style="position: relative; top: 25px; width: auto; left: 22%;">
    </ng-template>
    <!-- body -->
    <ng-template pTemplate="body">
      <hr style="margin: 0 0 1.5rem 0;">

      <form [formGroup]="form">
        <!-- forma za deo registracije -->
        <ng-container *ngIf="url == '/register'">
          <!-- ime i prezime -->
          <div class="row">
            <div class="flex flex-column ime-prezime-column">
              <span class="p-float-label">
                <input pInputText formControlName="ime" placeholder="Unesite ime" />
                <label htmlFor="ime">Ime</label>
              </span>
              <small class="text-danger" *ngIf="form.controls['ime'].dirty && form.hasError('required', 'ime')">*Ime
                je obavezno polje.</small>
            </div>
            <div class="flex flex-column ime-prezime-column">
              <span class="p-float-label">
                <input pInputText formControlName="prezime" placeholder="Unesite prezime" />
                <label htmlFor="prezime">Prezime</label>
              </span>
              <small class="text-danger"
                *ngIf="form.controls['prezime'].dirty && form.hasError('required', 'prezime')">*Prezime je obavezno
                polje.</small>
            </div>
          </div>
          <!-- email -->
          <div class="row">
            <div class="flex flex-column">
              <span class="p-float-label">
                <input pInputText type="email" formControlName="email" placeholder="Unesite e-mail" />
                  <!-- (blur)="inputChecker(3,'email')"  -->
                <label htmlFor="email">E-mail</label>
              </span>
              <small class="text-danger" *ngIf="form.controls['email'].dirty && form.hasError('email', 'email')">*E-mail
                je neispravnog formata.</small>
              <small class="text-danger"
                *ngIf="form.controls['email'].dirty && form.hasError('required', 'email')">*E-mail
                je obavezno polje.</small>
            </div>
          </div>
        </ng-container>
        <!-- username -->
        <div class="row">
          <div class="flex flex-column">
            <span class="p-float-label">
              <input pInputText formControlName="username" placeholder="Unesite korisničko ime" />
              <label htmlFor="username">Korisničko ime</label>
            </span>
            <small class="text-danger"
              *ngIf="form.controls['username'].dirty && form.hasError('required', 'username')">*Korisničko ime je
              obavezno polje.</small>
          </div>
        </div>
        <!-- password -->
        <div class="row">
          <div class="flex flex-column">
            <span class="p-float-label">
              <ng-container *ngIf="url === '/register'">
                <p-password formControlName="password" [toggleMask]="true" [promptLabel]="'Veoma slaba'" class="w-full"
                  [weakLabel]="'Slaba'" [mediumLabel]="'Srednja'" [strongLabel]="'Jaka'"
                  placeholder="Unesite novu lozinku">
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Sugestije</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>Minimum 6 karaktera</li>
                    </ul>
                  </ng-template>
                </p-password>
                <small class="text-danger"
                  *ngIf="form.controls['password'].dirty && form.controls['password'].hasError('passwordStrength')">
                  *Lozinka mora imati minimum 6 karaktera.
                </small>
              </ng-container>
              <ng-container *ngIf="url == '/login'">
                <p-password formControlName="password" [toggleMask]="true" [feedback]="false" (keyup.enter)="potvrdi()"
                  placeholder="Enter password"></p-password>
              </ng-container>
              <label for="password">Lozinka</label>
            </span>
            <small class="text-danger"
              *ngIf="form.controls['password'].dirty && form.hasError('required', 'password')">*Lozinka
              je obavezno polje.</small>
          </div>
        </div>
        <!-- potvrda lozinke -->
        <div class="row" *ngIf="url === '/register'">
          <div class="flex flex-column">
            <span class="p-float-label">
              <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
                placeholder="Potvrdite lozinku"></p-password>
              <label for="confirmPassword">Potvrda lozinke</label>
            </span>
            <small class="text-danger"
              *ngIf="form.controls['confirmPassword'].dirty && form.hasError('required', 'confirmPassword')">*Potvrda
              lozinke je obavezno polje.</small>
            <small class="text-danger"
              *ngIf="form.controls['confirmPassword'].dirty && form.hasError('passwordMismatch')">*Lozinke se ne
              poklapaju.</small>
          </div>
        </div>
      </form>

      <!-- link za otvaranje modala za resetovanje lozinke -->
      <p class="mb-4" *ngIf="url == '/login'">
        <a (click)="visible = true" (keyup.enter)="visible = true" role="button" tabindex="0">
          Zaboravili ste lozinku?</a>
      </p>

      <!-- modal za slanje maila za resetovanje lozinke -->
      <p-dialog header="Resetovanje lozinke" [(visible)]="visible" [modal]="true" [breakpoints]="{ '993px': '75vw' }"
        [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="body">
          <form [formGroup]="formReset">
            <div class="flex flex-column">
              <span class="p-float-label">
                <input pInputText type="email" formControlName="emailReset" pAutoFocus [autofocus]="true"
                  placeholder="Unesite e-mail za resetovanje lozinke" />
                <label htmlFor="emailReset">E-mail</label>
              </span>
              <small class="text-danger"
                *ngIf="formReset.controls['emailReset'].dirty && formReset.hasError('email', 'emailReset')">*E-mail
                je neispravnog formata.</small>
              <small class="text-danger"
                *ngIf="formReset.controls['emailReset'].dirty && formReset.hasError('required', 'emailReset')">*E-mail
                je obavezno polje.</small>
            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Pošalji" (click)="posaljiMail()" [loading]="loadingSendEmail" [disabled]="!formReset.valid"
            icon="pi pi-send" styleClass="p-button-rounded p-button-sm"></p-button>
        </ng-template>
      </p-dialog>
      <!-- <hr> -->
    </ng-template>
    <!-- footer -->
    <ng-template pTemplate="footer">
      <p-divider align="center">
        <!-- dugme za slanje -->
        <p-button label="{{this.url === '/register' ? 'Registrujte se' : 'Ulogujte se'}}" (click)="potvrdi()"
          icon="pi {{this.url === '/register' ? 'pi-send' : 'pi-sign-in'}}" styleClass="p-button-rounded"></p-button>
      </p-divider>
      <!-- link za promenu url-a -->
      <div class="row mt-3">
        <p>{{this.url === '/login' ? 'Nemate' : 'Već imate'}} nalog?
          <a routerLink="{{changeLoginRegisterUrl()}}">
            {{this.url === '/login' ?
            'Registrujte' : 'Ulogujte'}} se
          </a>
        </p>
      </div>
    </ng-template>
  </p-card>
</div>