<!-- Footer -->
<footer class="text-lg-start">
  <!-- Section: Links  -->
  <section class="links" *ngIf="headerAllow">
    <div class="container" style="padding: 32px 64px;">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Content -->
          <h5 class="pb-4 m-0">
            <img class="logo" src="https://globos.rs/images/logo_194x58.svg" height="56px" alt="Globos">
          </h5>
          <ul>
            <li> GLOBOS osiguranje a.d.o. </li>
            <li> Bulevar Mihajla Pupina 165d </li>
            <li> Novi Beograd </li>
            <li> <a href="tel:+381 11 36 36 958">+381 11 36 36 958</a> </li>
            <li> <a href="mailto:office@globos.rs">office@globos.rs</a> </li>
          </ul>
          <p class="icons">
            <a routerLink="/home" class="me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a routerlink="/home" class="me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a routerlink="/home" class="me-4">
              <i class="fab fa-linkedin"></i>
            </a>
          </p>
        </div>

        <!-- desna strana -->
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <h5> Osiguranja </h5>
                  <!-- Links -->
                  <p> <a routerlink="/home">Kasko osiguranje</a> </p>
                  <p> <a routerlink="/home">Putno osiguranje</a> </p>
                  <p> <a routerlink="/home">Osiguranje domaćinstva</a> </p>
                  <p> <a routerlink="/home">Pomoć na putu</a> </p>
                  <p> <a routerlink="/home">Dobrovoljno zdravstveno</a> </p>
                  <p> <a routerlink="/home">Osiguranje</a> </p>
                  <p> <a routerlink="/home">Osiguranje imovine</a> </p>
                  <p> <a routerlink="/home">Osiguranje od odgovornosti</a> </p>
                  <p> <a routerlink="/home">Auto-odgovornost</a> </p>
                  <p> <a routerlink="/home">Osiguranje lica od nezgode</a> </p>
                  <p> <a routerlink="/home">Osiguranje poljoprivrede</a> </p>
                  <p> <a routerlink="/home">Osiguranje transporta</a> </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-6">
                  <!-- Links -->
                  <h5>
                    Online Shop
                  </h5>
                  <p> <a routerlink="/home">Online plaćanje polisa</a> </p>
                  <p> <a routerlink="/home">Putno osiguranje</a> </p>
                  <p> <a routerlink="/home">Pomoć na putu</a> </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Grid column -->
              <div class="row">
                <div class="col-md-6">
                  <!-- Links -->
                  <h5>
                    Prijava štete
                  </h5>
                  <p> <a routerlink="/home">Prijava štete</a> </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-6">
                  <!-- Links -->
                  <h5>O Nama</h5>
                  <p> <a routerlink="/home">Sistem menadžmenta</a> </p>
                  <p> <a routerlink="/home">Zaštita prava i interesa korisnika</a> </p>
                  <p> <a routerlink="/home">Zaštita podataka o ličnosti</a> </p>
                  <p> <a routerlink="/home">Menadžment</a> </p>
                  <p> <a routerlink="/home">Obaveštenje za akcionare</a> </p>
                  <p> <a routerlink="/home">Skupštine akcionara</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <p class="text-md-start">
            <a routerlink="/home">Prilagodite postavke kolačića</a> |
            <a routerlink="/home">Zaštita privatnost</a> |
            <a routerlink="/home">Uslovi korišćenja</a>
          </p>
        </div>
        <div class="col-lg-4">
          <p class="text-md-end"> &copy; 2024 Globos </p>
        </div>
      </div>
    </div>
  </section>
</footer>
