<header class="gm-header">
  <nav class="gm-nav">
    <a class="gm-nav-brand" href="https://globos.rs/sr/zdravstveno-osiguranje" target="_blank">
      <img class="gm-nav-logo" src="https://globos.rs/images/logo_194x58.svg" alt="Globos"
        pTooltip="Idi na odeljak zdravstvenog osiguranja" tooltipPosition="bottom">
      <span class="gm-nav-brand-divider"></span>
      <span class="gm-nav-brand-text">Medic</span>
    </a>

    <button #navbarNavButton type="button" class="gm-nav-toggle" *ngIf="displayNavbarNavButton" (click)="toggleDropdown()"
      aria-label="Otvori meni" [attr.aria-expanded]="isDropdownOpen">
      <i class="fa" [ngClass]="isDropdownOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <div class="gm-nav-collapse" [ngClass]="{'gm-nav-collapse-open': isDropdownOpen}">
      <ul class="gm-nav-links">
        <li *ngFor="let link of mainLinks">
          <a routerLinkActive="active" [routerLink]="link.url" (click)="handleLinkClick(link.url)">
            {{link.name}}
          </a>
        </li>
      </ul>

      <ul class="gm-nav-links gm-nav-links-right" *ngIf="optionLinks.length">
        <ng-container *ngFor="let link of optionLinks">
          <li *ngFor="let submenu of link.subMenu">
            <a routerLinkActive="active" [routerLink]="submenu.url" (click)="handleLinkClick(submenu.url)"
              class="gm-nav-link-option" [ngClass]="{'gm-nav-link-logout': submenu.url === '/login'}">
              <i class="fa" [ngClass]="submenu.url === '/login' ? 'fa-sign-out-alt' : 'fa-user'"></i>
              {{submenu.name}}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>
