<div class="row">
    <p-fieldset legend="Zahtev za refundaciju" class="mb-3">

        <p *ngIf="ime">
            Podnosilac zahteva: <strong>{{ime}} {{prezime}}</strong>
            <span *ngIf="brKartice"> — kartica {{brKartice}}</span>
        </p>

        <div class="row">
            <div class="col">
                Šta je potrebno za refundaciju ?
                <br>
                <br>
                <ul>
                    <li>Popunjen Zahtev za prijavu štete dobrovoljnog zdravstvenog osiguranja koji mozete preuzeti sa
                        <a href="https://www.globos.rs/storage/files/Zahtev_za_prijavu_osiguranog_slu%C4%8Daja_GlobosMedic_dobrovoljnog_zdravstvenog_osiguranja_03-31-2022_11:40:58.pdf" target="_blank">linka</a>.
                        (Ljubazno vas molimo da pažljivo popunite zahtev )
                    </li>
                    <br>
                    <li>Medicinska dokumentacija – overena pečatom i potpisom lekara koji je pružio uslugu</li> <br>
                    <li>Fiskalni račun za primljene usluge</li> <br>
                </ul>

                U skladu sa <a
                    href="/assets/docs/Uslovi za kolektivno dobrovoljno zdravstveno osiguranje.pdf"
                    target="_blank">Uslovima osiguranja</a> osiguravač se obavezuje da nadoknadi razumne i uobičajene
                troškove lečenja medicinski opravdanog tretmana na teritoriji Republike Srbije, maksimalno do iznosa
                suma osiguranja i pojedinačnih podlimita predviđenih ugovorom o osiguranju.
                <br><br>
                Svi iznosi veći od <a
                    href="/assets/docs/Tabela razumnih i uobicajenih troskova.pdf" target="_blank">razumnih i uobičajenih troškova</a> padaju na teret
                osiguranog lica.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="formFile">Prilog za prateće dokumente</label>
                <div class="col">
                    <button type="button" class="btn btn-primary" color="primary" (click)="fileInput.click()">Izaberite
                        fajl</button>
                    <input hidden class="mr-auto" type="file" id="formFile" #fileInput (change)="handleFileInput($event)"
                        multiple>
                    <div *ngFor="let f of nazivFajla">
                        <span>&nbsp;&nbsp;{{f}}</span>
                        <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="removeFile(f)"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="mejl">Slanje mejla Globos Medicu</label>
                <div class="col">
                    <p-button icon="fa fa-envelope" [disabled]="sending" (onClick)="sendMail()"></p-button>
                </div>
            </div>
        </div>

    </p-fieldset>
</div>
